/* Variables */
body {
  color: #bdbdbd;
  background: radial-gradient(#222324 16%, transparent 16%) 0 0, radial-gradient(#222324 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, 0.05) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, 0.05) 15%, transparent 20%) 8px 9px;
  background-color: #2a2b30;
  background-size: 16px 16px;
}
.container.home {
  width: 95%;
}
.container.home .home-card {
  /* Keep the about card at the right height for responsiveness */
}
.container.home .home-card .about-me-image-container {
  height: 0;
  padding-bottom: 70%;
  overflow: hidden;
  background-image: url("../img/profile_pic.jpg");
  background-position-x: 50%;
  background-position-y: 25%;
  background-size: cover;
}
.container.home .home-card .contact-container {
  height: 0;
  padding-bottom: 30%;
  overflow: hidden;
  background-image: url("../img/contact.jpg");
  background-position-x: 50%;
  background-position-y: 80%;
  background-size: cover;
}
.container.home .home-card .card-content {
  text-align: center;
}
@media screen and (min-width: 993px) {
  .container.home .home-card .about-me-image-container {
    padding-bottom: 97%;
  }
}
@media screen and (min-width: 1050px) {
  .container.home .home-card .about-me-image-container {
    padding-bottom: 96%;
  }
}
@media screen and (min-width: 1109px) {
  .container.home .home-card .about-me-image-container {
    padding-bottom: 95%;
  }
}
@media screen and (min-width: 1172px) {
  .container.home .home-card .about-me-image-container {
    padding-bottom: 94%;
  }
}
@media screen and (min-width: 1239px) {
  .container.home .home-card .about-me-image-container {
    padding-bottom: 93%;
  }
}
.container.home a .card:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.3), 0 4px 15px 0 rgba(0, 0, 0, 0.3);
}
.container.home .card-block {
  padding-top: 30px;
}
.container.home .card-block .card-content p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-header .profile-image-block {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 120px;
  padding: 30px 0 0 0;
  text-align: center;
  color: #3b3d4a;
  background: #1c1d22;
  z-index: 1;
}
.menu-header .profile-image-block .profile-icon-holder .profile-icon-container {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: auto;
  background-image: url("../img/profile_icon2.jpg");
  background-size: contain;
}
.menu-header .profile-image-block .profile-icon-holder .profile-icon-container img {
  width: 80px;
  border-radius: 100%;
}
.menu-header .profile-image-block .profile-icon-holder .profile-icon-container img:hover {
  opacity: 0;
}
.menu-header .profile-image-block .profile-icon-holder::after {
  display: block;
  width: 86px;
  height: 86px;
  position: absolute;
  z-index: -3;
  margin-top: -83px;
  left: calc(50% - 43px);
  border-radius: 50%;
  border: 1px solid #bdbdbd;
  content: "";
}
.menu-header .profile-image-block .profile-name {
  color: #bdbdbd;
  margin-top: 10px;
  font-size: 0.75em;
  letter-spacing: 2px;
  text-transform: uppercase;
}
@media screen and (max-width: 40em) {
  .menu-header .profile-image-block {
    display: none;
  }
}
.portfolio-nav nav {
  background: #1c1d22;
}
.portfolio-nav .menu__breadcrumbs {
  box-shadow: none;
}
.portfolio-nav .menu__breadcrumbs a {
  color: #1e7bd2;
}
.portfolio-nav .menu__breadcrumbs a:first-child {
  line-height: 30px;
}
.portfolio-nav .menu__wrap {
  top: 4.1em;
}
.portfolio-nav .menu__wrap .menu__item {
  width: 100%;
}
.portfolio-nav .menu__wrap ul {
  width: 100%;
  overflow: auto;
}
.portfolio-nav .menu__wrap .menu__link {
  padding-top: 0px;
  padding-bottom: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.portfolio-nav .menu__wrap .menu__link:hover {
  color: #1e7bd2;
}
.portfolio-nav .menu__wrap .menu__link:hover::after {
  color: #1e7bd2;
}
.portfolio-nav .menu__wrap .menu__link .fa-fw {
  padding-right: 50px;
  padding-left: 10px;
}
.portfolio-nav .menu__wrap .menu__link .material-icons {
  display: inline;
  vertical-align: middle;
  padding-right: 17px;
  padding-left: 10px;
  font-size: 33px;
}
.portfolio-nav .menu__wrap .menu__link .menu-link-name {
  text-transform: uppercase;
  font-size: 0.85em;
  font-weight: 300;
  letter-spacing: 2px;
}
.portfolio-nav .fa-fw {
  padding-right: 30px;
  vertical-align: middle;
}
.portfolio-nav .contact-item {
  text-align: center;
}
.portfolio-nav .contact-item .nav-info {
  width: 200px;
  text-align: left;
  /* We need to over-ride Materliaize's transition delay to stop these buttons reappearing */
  -webkit-transition: initial;
  transition: initial;
}
.portfolio-nav .contact-item .nav-info .contact-icon {
  padding-right: 40px;
  padding-left: 15px;
  padding-bottom: 4px;
  font-size: 22px;
}
.portfolio-nav .contact-item.first-button {
  padding-top: 20px;
}
.portfolio-nav .mobile-only {
  display: none;
}
@media screen and (max-width: 40em) {
  .portfolio-nav .mobile-only {
    display: block;
  }
}
/* Override material's default green behaviour */
button:focus {
  background-color: inherit;
}
