/* Variables */
@mainColor: #1e7bd2;

body {
	
  color: #bdbdbd;

  background: radial-gradient(#222324 16%, transparent 16%) 0 0, radial-gradient(#222324 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255,255,255,.05) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255,255,255,.05) 15%, transparent 20%) 8px 9px;
  background-color: #2a2b30;
  background-size: 16px 16px;
}

.container{
  &.home{
    width: 95%;

    .home-card {
      .about-me-image-container{
        height: 0;
        padding-bottom: 70%;
        overflow: hidden;

        background-image: url("../img/profile_pic.jpg");
        background-position-x: 50%;
        background-position-y: 25%;
        background-size: cover;
      }

      .contact-container{
        height: 0;
        padding-bottom: 30%;
        overflow: hidden;

        background-image: url("../img/contact.jpg");
        background-position-x: 50%;
        background-position-y: 80%;
        background-size: cover;
      }

      .card-content{
        text-align: center;
      }

      /* Keep the about card at the right height for responsiveness */
      @media screen and (min-width: 993px) {
        .about-me-image-container{
          padding-bottom: 97%;
        }
      }

      @media screen and (min-width: 1050px) {
        .about-me-image-container{
          padding-bottom: 96%;
        }
      }

      @media screen and (min-width: 1109px) {
        .about-me-image-container{
          padding-bottom: 95%;
        }
      }

      @media screen and (min-width: 1172px) {
        .about-me-image-container{
          padding-bottom: 94%;
        }
      }

      // Stop the 'About' card from growing and taking up the whole screen
      @media screen and (min-width: 1239px) {
        .about-me-image-container{
          padding-bottom: 93%;
        }
      }
    }

    a .card:hover {
      box-shadow: 0 5px 11px 0 rgba(0,0,0,0.30),0 4px 15px 0 rgba(0,0,0,0.30);
    }

    .card-block{
      padding-top:30px;

      .card-content{
        p{
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

}

.menu-header{
  .profile-image-block{
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 120px;
    padding: 30px 0 0 0;
    text-align: center;
    color: #3b3d4a;
    background: #1c1d22;
    z-index: 1;

    .profile-icon-holder {

      .profile-icon-container {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin: auto;
        background-image: url("../img/profile_icon2.jpg");
        background-size: contain;

        img{
          width: 80px;
          border-radius: 100%;

          &:hover{
            opacity: 0;
          }
        }
      }


      &::after {
        display: block;
        width: 86px;
        height: 86px;

        position: absolute;
        z-index: -3;
        margin-top: -83px;
        left: ~"calc(50% - 43px)";

        border-radius: 50%;
        border: 1px solid #bdbdbd;

        content: "";
      }
    }

    .profile-name {
      color: #bdbdbd;
      margin-top: 10px;
      font-size: 0.75em;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
  }

  @media screen and (max-width: 40em) {
    .profile-image-block {
      display: none;
    }
  }

}

.portfolio-nav {

	.nav-info {
		//color: #bdbdbd;
	}
	
	nav {
		background: #1c1d22;
	}
	
	.menu__breadcrumbs {
		box-shadow: none;
		
		a{
          color: @mainColor;

			&:first-child {
				line-height: 30px;
			}
		}
	}
	
	.menu__wrap {
		top: 4.1em;
		
		.menu__item{
			width: 100%;
		}
		
		ul {
			width: 100%;
			overflow: auto;
		}
		
		.menu__link {
			padding-top: 0px;
			padding-bottom: 0px;

            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &:hover{
              color: @mainColor;

              &::after{
                color: @mainColor;
              }
            }
			
			.fa-fw {
				padding-right: 50px;
				padding-left: 10px;
			}
			
			.material-icons {
				display: inline;
				vertical-align: middle;
				padding-right: 17px;
				padding-left: 10px;
				font-size: 33px;
			}

          .menu-link-name{
            text-transform: uppercase;
            font-size: 0.85em;
            font-weight: 300;
            letter-spacing: 2px;
          }
		}
		
	}
	
	.fa-fw {
		padding-right: 30px;
		vertical-align: middle;
	}
	
	.contact-item {
		text-align: center;
		
		.nav-info{
			width: 200px;
			
			text-align: left;
			
			/* We need to over-ride Materliaize's transition delay to stop these buttons reappearing */
			-webkit-transition: initial;
			transition: initial;
			
			.contact-icon{
				padding-right: 40px;
				padding-left: 15px;
				padding-bottom: 4px;
				font-size: 22px;
			}
		}
		
		&.first-button{
			padding-top: 20px;
		}
	}
	
	.mobile-only{
		display: none;
	}
	
	@media screen and (max-width: 40em) {
		.mobile-only{
			display: block;
		}
	}
}

/* Override material's default green behaviour */

button:focus {
  background-color: inherit;
}

/* Extend Material's 980 max grid: */
@media only screen and (min-width: 1900px) {
  .container{
    max-width: 1600px;
  }

  .loop(@counter) when (@counter > 0) {
    .loop((@counter - 1));    // next iteration

    .row .col.xl@{counter} {
      width: ((100% * @counter) / 12);
      margin-left: auto;
      left: auto;
      right: auto;
    }
  }

  .loop(12); // launch the loop
}