/* Imports */
@font-face {
  font-family: "Gotham";
  src: url("../font/gotham/gotham-thin-webfont.eot");
  src: url("../font/gotham/gotham-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../font/gotham/gotham-thin-webfont.woff2") format("woff2"), url("../font/gotham/gotham-thin-webfont.woff") format("woff"), url("../font/gotham/gotham-thin-webfont.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "Gotham";
  src: url("../font/gotham/gotham-light-webfont.eot");
  src: url("../font/gotham/gotham-light-webfont.eot?#iefix") format("embedded-opentype"), url("../font/gotham/gotham-light-webfont.woff2") format("woff2"), url("../font/gotham/gotham-light-webfont.woff") format("woff"), url("../font/gotham/gotham-light-webfont.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Gotham";
  src: url("../font/gotham/gotham-book-webfont.eot");
  src: url("../font/gotham/gotham-book-webfont.eot?#iefix") format("embedded-opentype"), url("../font/gotham/gotham-book-webfont.woff2") format("woff2"), url("../font/gotham/gotham-book-webfont.woff") format("woff"), url("../font/gotham/gotham-book-webfont.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Gotham";
  src: url("../font/gotham/gotham-medium-webfont.eot");
  src: url("../font/gotham/gotham-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../font/gotham/gotham-medium-webfont.woff2") format("woff2"), url("../font/gotham/gotham-medium-webfont.woff") format("woff"), url("../font/gotham/gotham-medium-webfont.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Gotham";
  src: url("../font/gotham/gotham-bold-webfont.eot");
  src: url("../font/gotham/gotham-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/gotham/gotham-bold-webfont.woff2") format("woff2"), url("../font/gotham/gotham-bold-webfont.woff") format("woff"), url("../font/gotham/gotham-bold-webfont.ttf") format("truetype");
  font-weight: 700;
}
/* Variables */
body {
  color: #bdbdbd;
  background: radial-gradient(#222324 16%, transparent 16%) 0 0, radial-gradient(#222324 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, 0.05) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, 0.05) 15%, transparent 20%) 8px 9px;
  background-color: #2a2b30;
  background-size: 16px 16px;
  font-family: "Gotham", "Roboto", sans-serif;
}
.container.home {
  width: 95%;
}
.container.home .home-card {
  /* Keep the about card at the right height for responsiveness
      @media screen and (min-width: 1050px) {
        .about-me-image-container{
          padding-bottom: 83%;
        }
      }

      @media screen and (min-width: 1109px) {
        .about-me-image-container{
          padding-bottom: 83%;
        }
      }

      @media screen and (min-width: 1172px) {
        .about-me-image-container{
          padding-bottom: 83%;
        }
      }

      // Stop the 'About' card from growing and taking up the whole screen
      @media screen and (min-width: 1239px) {
        .about-me-image-container{
          padding-bottom: 79%;
        }
      }

      /* Comment block for breakpoints */
}
.container.home .home-card .about-me-image-container {
  height: auto;
  overflow: hidden;
}
.container.home .home-card.contact-card .contact-container {
  height: auto;
  overflow: hidden;
}
.container.home .home-card .card-content {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.container.home .home-card .card-content .card-text {
  position: absolute;
  color: rgba(255, 255, 255, 0);
}
.container.home .home-card:hover .card-content .card-text {
  color: #ffffff;
}
@media screen and (min-width: 993px) {
  .container.home .home-card .about-me-image-container {
    padding-bottom: 82%;
  }
}
.container.home .back-card {
  display: none;
}
.container.home .back-card .card-text {
  top: 50%;
  transform: translateY(-50%);
  left: 40px;
  right: 10px;
  font-size: 30px;
  font-weight: 500;
  text-align: left;
}
.container.home .back-card .card-text i {
  font-size: 45px;
  font-weight: bold;
  vertical-align: top;
}
@media screen and (max-width: 775px) {
  .container.home .contact-card .card-text {
    font-size: 35px;
  }
}
.container.home .about-me-card .card-image::after,
.container.home .project-card .card-image::after,
.container.home .contact-card .card-image::after {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(28, 29, 34, 0);
  content: "";
  transition: background-color 0.2s;
}
.container.home .about-me-card:hover .card-image::after,
.container.home .project-card:hover .card-image::after,
.container.home .contact-card:hover .card-image::after {
  background-color: #1e7bd2;
}
.container.home .about-me-card .card-content .card-text,
.container.home .project-card .card-content .card-text,
.container.home .contact-card .card-content .card-text {
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  right: 10px;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}
.container.home .about-me-card .card-content .card-text .project-word,
.container.home .project-card .card-content .card-text .project-word,
.container.home .contact-card .card-content .card-text .project-word {
  display: block;
  font-weight: normal;
  font-size: 26px;
}
.container.home .about-me-card .card-content .card-text .project-word:before,
.container.home .project-card .card-content .card-text .project-word:before,
.container.home .contact-card .card-content .card-text .project-word:before {
  content: "Project";
}
.container.home .about-me-card:hover .card-image::after,
.container.home .contact-card:hover .card-image::after {
  background-color: #FFFFFF;
}
.container.home .about-me-card:hover .card-content .card-text,
.container.home .contact-card:hover .card-content .card-text {
  color: #1e7bd2;
}
.container.home .card-block {
  padding-top: 30px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.menu-header .profile-image-block {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 140px;
  padding: 30px 0 0 0;
  text-align: center;
  color: #3b3d4a;
  background: #1c1d22;
  z-index: 3;
}
.menu-header .profile-image-block .profile-icon-holder .profile-icon-container {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: auto;
  background-image: url("../img/profile_icon-web_2.jpg");
  background-size: contain;
}
.menu-header .profile-image-block .profile-icon-holder .profile-icon-container img {
  width: 80px;
  border-radius: 100%;
}
.menu-header .profile-image-block .profile-icon-holder .profile-icon-container img:hover {
  opacity: 0;
}
.menu-header .profile-image-block .profile-icon-holder::after {
  display: block;
  width: 86px;
  height: 86px;
  position: absolute;
  z-index: -3;
  margin-top: -83px;
  left: calc(50% - 43px);
  border-radius: 50%;
  border: 1px solid #bdbdbd;
  content: "";
}
.menu-header .profile-image-block .profile-name {
  color: #bdbdbd;
  margin-bottom: 0;
  margin-top: 15px;
  font-size: 0.75em;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
}
.menu-header .profile-image-block .profile-by-line {
  margin-top: 7px;
  color: #bdbdbd;
  font-size: 0.75em;
  letter-spacing: 1px;
  font-weight: 300;
}
.menu-header .profile-image-block .profile-icon-holder,
.menu-header .profile-image-block .profile-name,
.menu-header .profile-image-block .profile-by-line {
  cursor: pointer;
}
@media screen and (max-width: 40em) {
  .menu-header .profile-image-block {
    display: none;
  }
}
.portfolio-nav nav {
  background: #1c1d22;
}
.portfolio-nav .menu__breadcrumbs {
  box-shadow: none;
  z-index: 3;
}
.portfolio-nav .menu__breadcrumbs a {
  color: #1e7bd2;
}
.portfolio-nav .menu__breadcrumbs a:first-child {
  line-height: 30px;
  transition: color 0.5s ease;
}
.portfolio-nav .menu__breadcrumbs a:last-child {
  color: #bdbdbd;
}
.portfolio-nav .menu__breadcrumbs .fa-fw {
  padding-right: 20px;
}
.portfolio-nav .menu__wrap {
  top: 4.1em;
}
.portfolio-nav .menu__wrap .menu__item {
  width: 100%;
}
.portfolio-nav .menu__wrap ul {
  width: 100%;
  overflow: auto;
}
.portfolio-nav .menu__wrap .menu__link {
  padding-top: 0px;
  padding-bottom: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.portfolio-nav .menu__wrap .menu__link[data-submenu]::after {
  color: #bdbdbd;
}
.portfolio-nav .menu__wrap .menu__link:hover {
  color: #1e7bd2;
}
.portfolio-nav .menu__wrap .menu__link:hover::after {
  color: #1e7bd2;
}
.portfolio-nav .menu__wrap .menu__link:hover[data-submenu]::after {
  color: #1e7bd2;
}
.portfolio-nav .menu__wrap .menu__link .fa-fw {
  padding-left: 10px;
  font-size: 16px;
}
.portfolio-nav .menu__wrap .menu__link .material-icons {
  display: inline;
  vertical-align: middle;
  padding-right: 11px;
  padding-left: 10px;
  font-size: 19px;
}
.portfolio-nav .menu__wrap .menu__link .menu-link-name {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1.3px;
}
.portfolio-nav .fa-fw {
  padding-right: 30px;
  vertical-align: middle;
}
.portfolio-nav .menu__item.contact-item {
  padding-top: calc(100vh - 530px);
  display: inline-block;
  width: auto;
  text-align: center;
}
.portfolio-nav .menu__item.contact-item .nav-info {
  text-align: left;
  /* We need to over-ride Materliaize's transition delay to stop these buttons reappearing */
  -webkit-transition: initial;
  transition: initial;
}
.portfolio-nav .menu__item.contact-item .nav-info .contact-icon {
  padding-left: 9.5px;
  padding-bottom: 2px;
  font-size: 22px;
}
.portfolio-nav .menu__item.contact-item .nav-info:hover {
  color: #1e7bd2;
}
.portfolio-nav .menu__item.contact-item.first-button {
  padding-left: 44px;
}
.portfolio-nav .menu__item.contact-item.first-button .contact-icon {
  padding-left: 8.5px;
}
.portfolio-nav .mobile-only {
  display: none;
}
@media screen and (max-width: 40em) {
  .portfolio-nav .mobile-only {
    display: block;
  }
}
/* Override material's default green behaviour */
button:focus {
  background-color: inherit;
}
@media screen and (max-width: 40em) {
  .bp-header {
    padding-top: 0;
  }
}
/* Extend Material's 980 max grid: */
@media only screen and (min-width: 1900px) {
  .container {
    max-width: 1600px;
  }
  .row .col.xl1 {
    width: 8.33333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xl2 {
    width: 16.66666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xl3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xl4 {
    width: 33.33333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xl5 {
    width: 41.66666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xl6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xl7 {
    width: 58.33333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xl8 {
    width: 66.66666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xl9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xl10 {
    width: 83.33333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xl11 {
    width: 91.66666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xl12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
}
@media screen and (max-width: 40em) {
  .material-tooltip {
    display: none !important;
  }
}
/* Make the grid span the whole screen */
.container .row {
  margin-left: 0;
  margin-right: 0;
}
.container .row .col {
  padding: 0;
}
.container .row .card {
  margin: 0;
}
.container .row.card-block {
  padding-top: 0;
}
.container.home {
  max-width: none;
  width: 100%;
  margin: 0;
}
.cd-modal {
  z-index: 10;
}
.menu {
  z-index: 2;
}
